#box {
  border: 2px solid purple;
  height: 300px;
  width: 300px;
}

div {
  margin: auto auto;
}

p {
  text-align: center;
  font-weight: bold;
  padding-top: 100px;
}

/* //animartion for scrolling text  */
#scroll-container {
  border: 2px solid purple;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  font-weight: bold;
  font-size: small;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
/* @-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
} */

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

/* @keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  } */
